# {{ ansible_managed }}

{% if certbot_dns_plugin == 'rfc2136' %}
# Target DNS server (IPv4 or IPv6 address, not a hostname)
dns_{{certbot_dns_plugin}}_server={{certbot_dns_target_server}}
# Target DNS port
dns_{{certbot_dns_plugin}}_port={{certbot_dns_target_server_port}}
# TSIG key name
dns_{{certbot_dns_plugin}}_name={{certbot_dns_tsig_keyname}}
# TSIG key secret
dns_{{certbot_dns_plugin}}_secret={{certbot_dns_key_secret}}
# TSIG key algorithm
dns_{{certbot_dns_plugin}}_algorithm={{certbot_dns_key_algorithm}}
{% endif %}

{% if certbot_dns_plugin == 'cloudflare' %}
dns_cloudflare_api_token={{certbot_dns_key_secret}}
{% endif %}

{% if certbot_dns_plugin == 'digitalocean' %}
dns_digitalocean_token={{certbot_dns_key_secret}}
{% endif %}
